*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/
postgres_dev/
logfile

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
node_modules
venv/
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
node_modules

.env
dist
Udacity3-Udapeople.zip
Screenshots/12-AlertEmail.png
Screenshots/11-Prometheus.png
Screenshots/10-NotMasterBranch.png
Screenshots/09-CleanUp.png
Screenshots/08-CloudfrontUpdate.png
Screenshots/07-GoodRollback.png
Screenshots/06-SmoketestFailure.png
Screenshots/05-CFFailure.png
Screenshots/04-SlackIntegration.png
Screenshots/03-VulnFix.png
Screenshots/03-AuditFailure.png
Screenshots/02-FrontendTestFail.png
Screenshots/02-BuildandTestSuccess.png
Screenshots/02-BackendTestFail.png
Screenshots/01-frontendFailedBuild.png
Screenshots/01-BuildSuccess.png
Screenshots/01-backendBuildFailure.png
Screenshots/00-Itworks.png
Screenshots/00-EmployeesAPI.png
Screenshots.zip
Screenshots.zip
URLs.txt
